<div class="row">
  <div class="col-xs-8 col-md-6 col-md-offset-3">
    
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group" *ngIf="!isLoginMode">
        <label for="username">NAME</label><input type="text" ngModel name="name" class="form-control" placeholder="NAME"
          required >
      </div>
      
      <div class="form-group">
        <label for="email">EMAIL</label><input type="email" ngModel name="email" class="form-control" placeholder="EMAIL"
          required email>
      </div>
      <div class="form-group">
        <label for="password">PASSWORD</label><input type="password" ngModel name="password" class="form-control"
          placeholder="PASSWORD" required password>

      </div>
      <div>
        <button type="submit" class="btn btn-dark" [disabled]="!authForm.valid">{{isLoginMode?'Login':'Sign Up'}}</button> <span class="divi">|</span>&nbsp;
        <label for="sign up">NEW USER?</label>
        <button type="button" class="btn btn-dark" (click)="onSignup()">{{isLoginMode?'Sign Up':'Login'}}</button>
      </div>
    </form>
  </div>
  <div class="col-xs-4 col-md-6" style="height: 60vh; margin-top:20vh; align-content: center;">
    <app-logo></app-logo>
  </div>
</div>


