<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/Screenshot_2023-06-17_183301-removebg-preview.png"
          style="width: 70px;" alt="MindShare">
          <span class="visually-hidden opacity-0">MindShare</span>
      </a>
      <button class="navbar-toggler btn-nav-accordion" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-dark"></span>

      </button>

    </div>
    <div class="collapse  navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav coll">
        <li class="nav-item">
          <a class="nav-link navbarLinks px-4 fw-bolder" routerLink="/home" routerLinkActive="active"
            aria-current="page">Home</a>
        </li>
        <li *ngIf="isAuth" class="nav-item" routerLinkActive="active">
          <a class="nav-link navbarLinks px-4 fw-bolder" routerLink="/upload">Upload</a>
        </li>
        <li *ngIf="!isAuth" class="nav-item rounded" routerLinkActive="active">
          <a routerLink="/auth" class="nav-link navbarLinks px-4 fw-bolder">Login/Sign Up</a>
        </li>
        <button *ngIf="isAuth" class="btn text-white fw-bolder p-0 px-4" (click)="logout()">
          Logout
        </button>
        <li class="nav-item" *ngIf="isAuth">
          <a class="nav-link" routerLink="/profile">
            <img [src]="profilePic" title="Your Profile"
              style="width: 50px; height: 50px; border-radius: 50%; border:1px solid black" alt="Your Profile"></a>

        </li>
      </ul>

    </div>
  </nav>
</header>