<div class="container">
    <div *ngIf="isLoading" class="text-center">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!isLoading">
        <div class="bg-dark text-center border details">
            <img [src]=profile alt="User Profile" class="my-3" width="300px" height="300px" style="border-radius: 50%; object-fit: cover;">
            <p>Name: {{name |uppercase}}</p>
            <p>Username: {{username }}</p>
            <p>Email: {{email}}</p>
            <p>Bio: {{bio}}</p>
        </div>
        <div *ngIf="!noPosts">
            <p class="text-center noPosts">{{name | uppercase}} HAS NO POSTS.</p>
        </div>
        <div class="col-md-6">
            <div class="postContainer" *ngFor="let post of userPosts">
                <div class="cards">
                    <div class="userDets"> <img src="../../assets/Screenshot 2023-06-17 183301.jpg" alt="PFP"><span>
                            {{post.name | uppercase }} </span></div>
                    <img class="card-img-top" [src]="post.path" width="90%" height="60%" style="object-fit: contain; "
                        alt="User Post">
                    <!-- *ngIf="post.mediaType==='img'" -->
                    <!-- <video *ngIf="post.mediaType==='video'" src="{{post.path}}" width="100%" height="60%" style="object-fit: contain; " controls ></video> -->


                    <div class="card-body">
                        <p class="card-text"> {{post.caption}}
                            <br>
                            <li class="timeStamp">{{post.date | date:"medium" }} | {{post.email}}</li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>