.postContainer {
  /* border-radius: 10px; */
  background-color: white;
  padding: 5px;
  color: #000;
  width: 80%;
}
.cards {
  margin: 2px;
  background-color: white;
  width: 100%;
  height: 80%;
}
.card-body {
  border: 1px solid black;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.cards img:nth-child(2),
.cards video {
  border: 1px solid #000000;
}
.cards .userDets img {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  width: 40px;
  height: 40px;
}
* {
  color: black;
}
.userDets {
  border-radius: 10px 10px 0 0;

  display: flex;
  padding: 0.5vh;
  border: 1px solid black;
  border-bottom: none;
  font-weight: 900;
}
.userDets span {
  margin: auto 0;
  padding-left: 0.2vw;
}
.timeStamp {
  font-size: xx-small;
  display: inline;
  margin: auto 0;
  list-style: none;
  font-weight: 900;
}
.load {
  justify-content: center;
  height: 70vh;
}
.details p {
  color: white;
  margin: 2vh;
}
.details {
  height: 70vh;
  border-radius: 10px;
  margin-bottom: 3vh;
}
.noPosts {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 2vw;
  font-weight: 900;
}
