<div class="text-center load justify-content-center" *ngIf="onLoad">
  <app-loader></app-loader>
</div>
<div>
  <div class="container">
    <h1 *ngIf="!onLoad">Share your thoughts</h1>
    <form #upload="ngForm" (ngSubmit)="onUpload(upload)">
      <div *ngIf="!onLoad">
        <div class="form-group">
          <label for="photo" *ngIf="serveredImg">Upload Photo:</label>
          <input class="form-control" type="file" *ngIf="serveredImg" #inps (change)="onFileSelected($event)"
            accept="image/*" id="imagePath" ngModel name="photo" style="display: none;">
          <br>

          <p *ngIf="serveredImg" style=" display: inline;"><i (click)="inputFunc()" class="fa fa-upload"></i></p>

          <img [src]=imgs width="400px" alt="{{imgs}}">
          <!-- <button type="button" class="btn btn-primary btn-sm" (click)="picUpload()" *ngIf="serveredImg">Upload</button> -->
        </div>
        <br>
        <div class="form-group">
          <label for="caption">Caption:</label>
          <textarea class="form-control" id="caption" ngModel name="caption" rows="2" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!upload.valid || uploaded"> Post</button>
        <button type="button" class="btn btn-primary" (click)="reset(upload)">Reset</button>
      </div>
    </form>

  </div>

</div>