/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  /* width */
  body{
  background-color: #252525;
}

::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #817f7f;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a8a7a7;
  }

  .c-pointer {
    cursor: pointer;
  }