<section class="text-center load justify-content-center" *ngIf="onLoad">
    <app-loader></app-loader>
</section>
<section class="siteHeading text-center py-5 position-absolute opacity-0" *ngIf="!onLoad">
    <h1 class="fw-bolder text-white">Home</h1>
</section>
<section class="postsSection" *ngIf="!onLoad">
    <div class="container">
        <div class="col-md-5">
            <div class="postContainer">
                <div class="postCards" *ngFor="let post of posts_;let i = index">
                    <div class="posts">
                        <div class="userDetails"> <img src={{post.user[0].profilePic}} class="image-responsive"
                                alt="{{post.post.name}}"><span class="postName">
                                <a routerLink="/user/{{post.post.email}}"> {{post.post.name | uppercase }}</a> </span>
                        </div>
                        <img class="card-img-top" (click)="openModal(postModal, i)" [src]="post.post.path" width="600"
                            height="400" style="object-fit: cover; " alt="{{post.post.name}}'s Post captioned {{post.post.caption}}">
                        <!-- *ngIf="post.mediaType==='img'" -->
                        <!-- <video *ngIf="post.mediaType==='video'" src="{{post.path}}" width="100%" height="60%" style="object-fit: contain; " controls ></video> -->


                        <div class="post-body">
                            <p class="card-text"> {{post.post.caption}}
                                <br>

                                <span class="timeStamp">{{post.post.date | date:"medium" }} |
                                    {{post.user[0].username}}</span>

                            </p>
                            <button class="btn" [disabled]="!currentUser" (click)="toggleLike(post)">
                                <!-- <i class=" fa-heart {{post.post.isliked?'fa-solid':'fa-regular'}}"></i> -->
                                <img class="img-fluid LikeImage"
                                    [src]="post.post.isliked?'/assets/heart-filled.png':'/assets/heart.png'" width="20"
                                    height="20" alt="Like Button">

                                {{post.post.likes}}
                            </button>
                            <br>
                            <span class="auth" *ngIf="!currentUser">Please Authenticate To Like This Post!</span>
                            <!-- <button class="btn" [disabled]="!currentUser" (click)="toggleComment(post)">
          <i class="fa-regular fa-comment"></i>
          {{post.post.comments.length}}
        </button>
        <br>
        <div *ngIf="post.post.comments && post.commentButton">
        <p *ngFor="let com of post.post.comments">
          {{com.comment}}
        </p></div>
      <form #comment="ngForm" class="form" (ngSubmit)="forComment(comment,post,post.post.postId)" *ngIf="post.commentButton">

        <input type="text" ngModel name="comment" class="form-control  " >
        <button class="btn btn-dark btn-sm" type="submit" (click)="forComment(comment,post,post.post.postId)"><i class="fa-regular fa-comment"></i></button>
      </form> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class=" col-xs-5" style="height: 60vh; margin-top:20vh; align-content: center;">
    <app-logo></app-logo>
</section>
<ng-template #postModal let-modal>
    <div class="postCards p-1 m-0">
        <div class="posts">
            <div class="userDetails"> <img src={{modalData.user[0].profilePic}} class="image-responsive"
                    alt="{{modalData.post.name}}"><span class="postName">
                    <a routerLink="/user/{{modalData.post.email}}"> {{modalData.post.name | uppercase }}</a> </span>
            </div>
            <img class="card-img-top img-fluid" [src]="modalData.post.path" alt="User Post">
            <!-- *ngIf="post.mediaType==='img'" -->
            <!-- <video *ngIf="post.mediaType==='video'" src="{{modalData.path}}" width="100%" height="60%" style="object-fit: contain; " controls ></video> -->


            <div class="post-body">
                <p class="card-text"> {{modalData.post.caption}}
                    <br>

                    <span class="timeStamp">{{modalData.post.date | date:"medium" }} |
                        {{modalData.user[0].username}}</span>

                </p>
                <button class="btn" [disabled]="!currentUser" (click)="toggleLike(modalData)">
                    <!-- <i class=" fa-heart {{post.post.isliked?'fa-solid':'fa-regular'}}"></i> -->
                    <img class="img-fluid LikeImage"
                        [src]="modalData.post.isliked?'/assets/heart-filled.png':'/assets/heart.png'" width="20"
                        height="20" alt="Like Button">

                    {{modalData.post.likes}}
                </button>
                <br>
                <span class="auth" *ngIf="!currentUser">Please Authenticate To Like This Post!</span>
            </div>
        </div>

    </div>
</ng-template>